@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'lunchtype22';
    src: url('../fonts/lunchtype22-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gentiumbookbasic';
    src: url('../fonts/GenBkBasR.ttf');
    font-weight: normal;
    font-style: normal;
}

#circle{
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: #551079;
    border-radius:50%;
    -webkit-backdrop-filter: invert(80%);
    backdrop-filter: invert(80%);
}